---
layout:default
title: "Demo"

---


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="{{'/assets/css/styles2.css'|relative_url}}">
</head>

<body>
  <div class="container">
    <!-- Barra de búsqueda -->
    <header class="header">
      <h1>
        {{site.title}}
      </h1>
      <p>
        {{site.description}}

      </p>

      <!-- Caja de búsqueda -->
      <div class="search-box">
        <input type="text" id="search" onkeypress="performSearch(this.value);" placeholder="Search for a binary...">
      </div>
    </header>

    <!-- Botones de navegación de comandos -->
    <div class="command-buttons">
      <a href="#" class="btn">
        All
      </a>
      {%assign see_sections = "" %}
        {%for post in site.posts%}
          {%if post.section and post.section != ""%}
            {% unless seen_sections contains post.section%}
              <a href="#{{post.section}}" class="btn">
                {{post.section}}
              </a>
              {% assign seen_sections = seen_sections | append: post.section | append: "," %}
            {%endunless%}
          {%endif%}
        {%endfor%}

    </div>

    <!-- Contenido principal -->
    <main class="content">


      <h3>List</h3>
      <table id="posts">
        <thead>
          <tr>
            <th>Name</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          {%for post in site.posts%}
          <tr data-section="{{post.section}}">
            <td>
              <a href="{{post.url}}">{{post.title}}</a>
            </td>
            <td>
              <ul class="function-list">

                {%for tag in post.tags%}
                {%if tag and tag !=""%}
                <li>
                  <a href="#">{{tag}}</a>
                </li>
                {%endif%}
                {%endfor%}
              </ul>


            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>

    </main>
  </div>

  <script>
    function filtersection() {
      const hash = window.location.hash.substring(1);
      const sectionvalue = decodeURIComponent(hash);
      const rows = document.querySelectorAll('tbody tr');
      rows.forEach(row => {
        const rowSection = row.getAttribute('data-section');
        if (sectionvalue == rowSection) {
          row.classList.remove('cell-hidden');
        }
        else {
          row.classList.add('cell-hidden');
        }
      });
    }

    window.addEventListener('DOMContentLoaded', filtersection);
    window.addEventListener('hashchange', filtersection);
  </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
  <script type="text/javascript" src="{{'/assets/js/code.js'|relative_url}}"></script>
</body>

</html>